GAIA_CONFIG_PATH=config/projects.yaml
GAIA_DATABASE_PATH=data/gaia.db
GAIA_LOG_LEVEL=INFO
GAIA_API_HOST=127.0.0.1
GAIA_API_PORT=8765
GAIA_MAX_FILE_BYTES=2000000
GAIA_MAX_GIT_OUTPUT_BYTES=1000000
GAIA_GIT_TIMEOUT_SECONDS=15
