GAIA_CONFIG_PATH=config/projects.yaml
GAIA_DATABASE_PATH=data/gaia.db
GAIA_LOG_LEVEL=INFO
GAIA_API_HOST=127.0.0.1
GAIA_API_PORT=8765
GAIA_MAX_FILE_BYTES=2000000
GAIA_MAX_GIT_OUTPUT_BYTES=1000000
GAIA_GIT_TIMEOUT_SECONDS=15
GAIA_LOCAL_AI_RUNTIME_PATH=config/model-routing.yaml
GAIA_LOCAL_AI_RUNTIME_URL=http://127.0.0.1:8787
GAIA_LOCAL_AI_RUNTIME_API_VERSION=v1
GAIA_LOCAL_AI_RUNTIME_TIMEOUT_SECONDS=30
GAIA_LOCAL_AI_RUNTIME_CONNECTION_TIMEOUT_SECONDS=5
GAIA_LOCAL_AI_RUNTIME_ENABLED=true
GAIA_LOCAL_AI_RUNTIME_REQUIRE_LOCAL_ONLY=true
